<div class="posts-wrapper row">
<% if @posts.present? %>
 <% @posts.each do |post| %>


   <%= render 'post', post: post %>
    <%end%>
    <div id="pagination">
     <%= paginate @posts %>
     </div>
     <%end%>
</div>
